@model OnlineAds.Models.TblCategory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatSubcatname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatSubcatname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatFkAdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatFkAdNavigation.AdId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
